@tailwind base;
@tailwind components;
@tailwind utilities;


.slideup {
    animation: slideUp 0.8s ease-out forwards;
}




@keyframes slideUp {
    0% {
        transform: translateY(70%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


